<h1 class="mx-auto col-sm-8">Users List</h1>

<% @users.each do |user| %>
    <div class="card col-sm-8 mb-4 mx-auto">
        <div class="card-header d-flex">
         <img style="width:75px; height:80px" class="img-thumbnail" src="<%= user.photo %>" />
            <%= link_to user.name, user_path(user) %>
        </div>
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-end">POST COUNT:
            <%= user.posts.count %>
            </h5>
        </div>
    </div>
<% end %>

